$root:'/';
$main-color:linear-gradient(rgb(37,151,109), rgb(45,138,114));
// 通用 start
table.table{
  &.t1{
    width: 600px;
    text-align: left;
    tr{
      td{
        line-height: 2;
        padding: 2px 10px;
        &:first-child{
          padding-left:10px;
        }
        &:last-child{
          padding-right:10px;
        }
      }
      &:nth-child(1),&:not(:first-child):hover td{
        color: rgb(149,149,149);
        background:rgb(229,229,229);
      }
      &:not(:first-child) td{
        border-bottom:2px solid rgb(236,236,236);
      }
    }
  }
}
button.button{
  border:0;
  outline:0;
  &.b1{
    width:180px;
    height:180px;
    margin:40px;
    border-radius:50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6) inset;
    background:rgb(244,244,244);
    font-size:1.5rem;
  }
  &.b2{
    width:100px;
    height:25px;
    padding:3px 7px;
    margin:0 1px;
    background:rgb(217,217,217);
    border-radius:2px;
  }
  &.b3{
    width:100px;
    height:40px;
    color:#fff;
    border-radius:2px;
    background:rgb(46,137,114);
  }
  &.b4{
    padding:2px 3px;
    border-radius:2px;
  }
  &.select{
    color:#fff;
    background:rgb(72,160,130);
  }
  &.b5{
    background:#fff;
    padding:8px 20px;
    border-radius:3px;
  }
  &.b6{
    background:rgb(44,87,96);
    padding:7px 16px;
    border-radius:3px;
    border:1px solid #fff;
    color:#fff;
  }
  &.b7{
    background:$main-color;
    padding:7px 16px;
    border-radius:3px;
    color:rgb(208,231,224);
  }
  position: relative;
  overflow: hidden;
  &:hover:after{
    content: "";
    background:rgba(0,0,0,.2);
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width:300%;
    height:300%;
    top:-100%;
    left:-100%;
    opacity: 0;
    transition: all 1s;
  }
  &:active:before {
    border-radius: 50%;
    width:100%;
    height:100%;
    top:-100%;
    left:-100%;
    opacity: 1;
    transition: 0s;
  }
}
input.input{
  outline: 0;
  border:0;
  padding:3px 2px;
  &.i1{

  }
  &.i2{
    border-bottom:1px solid #000;
  }
}
select.select{
  outline: 0;
  &.s1{
    border:0;
    background:rgba(186,186,186,.5);
    padding:3px 1px;
    border-radius:2px;
  }
}
nav{
  >a{
    cursor: pointer;
    &:hover{
      text-decoration:none;
    }
  }
}
// 对话框
#dialog>.dialog{
  &.d1{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.6);
    > div:first-child{
      width: 50vw;
      height: auto;
      min-height: 50px;
      background:#fff;
      border-radius:5px;
      box-sizing:border-box;
      position:absolute;
      left:50vw;
      top:50vh;
      margin-left:-25vw;
      margin-top:-25vh;
      padding:10px 20px;
    }
  }
  &.d2,&.d3,&.d4,&.d5,&.d6,&.d7{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.6);
    > div:first-child{
      width: 50vw;
      height: auto;
      min-height: 50px;
      background:#fff;
      border-radius:5px;
      box-sizing:border-box;
      position:absolute;
      left:50vw;
      top:50vh;
      margin-left:-25vw;
      margin-top:-25vh;
      padding:10px 20px;
    }
  }
  &.d3,&.d4,&.d5,&.d6,&.d7{
    >div{
      width:500px !important;
      padding: 10px 70px !important;
      margin-left: -18vw !important;
      div{
        margin-top:5px;
      }
      label{
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-right: 10px;
      }
      button{
        margin: 0 38px;
        width: 100px;
      }
      input{
        outline: 0;
        border:0;
        padding:3px 2px;
        border-bottom:1px solid #000;
      }
    }
  }
  &.d4{
    >div{
      padding: 10px 50px !important;
    }
    label{
      width:130px !important;
    }
  }
}
// 通用 end
.hide{
  display:none !important;
}
.show{
  display:block !important;
}
.nav-card-select{
  border-bottom:2px solid #000;
}
.bg{
  width:100%;
  height:722px;
}

.home{
  position: absolute;
  left: 17%;
  top: 25%;
}

.login{
  position: absolute;
  left: 30%;
  top: 30%;
  background:#fff;
  border-radius:5px;
  padding:20px;
  min-width: 500px;
  >div{
    &:first-child{
      text-align: center;
    }
    &:not(:first-child){
      margin-top:30px;
    }
    &:last-child{
      button{
        width:48%;
        &:last-child{
          float:right;
        }
      }
    }
    &:nth-child(2){
      position: relative;
      border-bottom:1px solid rgb(213,213,213);
      input{
        width:68%;
      }
      button{
        position: absolute;
        right:1px;
        bottom:2px;
      }
    }
  }
}
.details{
  >div{
    &:first-child{
      height:100px;
      background: linear-gradient(rgb(64,104,125), rgb(28,113,95));
      padding:30px 25px;
      >div{
        display: inline-block;
        vertical-align:top;
        &:first-child{
          width:110px;
          height:120px;
          background:#fff;
          border-radius:5px;
          text-align:center;
          i{
            font-size:90px;
            color:rgb(186,186,186);
          }
        }
        &:nth-child(2){
          color:#fff;
          margin-left:20px;
          position: relative;
          height:100%;
          width:60%;
          div{
            position:absolute;
            bottom:0;
          }
        }
        &:last-child{
          position:absolute;
          right:30px;
          button i{
            margin-right:3px;
          }
        }
      }
    }
    &:nth-child(n+2){
      display:none;
      >div:nth-child(1){
        height:40px;
        background:rgb(244,244,244);
        border-bottom:1px solid rgb(204,204,204);
        padding:0 40px;
        position: relative;
        nav{
          position: absolute;
          bottom:0;
          >a{
            display: inline-block;
            vertical-align:bottom;
            padding: 0 25px;
            font-size:1.2rem;
            padding-bottom:5px;
            text-align:center;
            position: relative;
            &:hover{
              border-bottom:2px solid #000;
              bottom:-2px;
            }
          }
        }
      }
      >div:nth-child(2){
        padding:20px 20px;
        >div{
          display: none;
        }
      }
    }
  }
}

#header{
  position: absolute;
  width: 90%;
  div{
    position: absolute;
    right: 0;
    top: 33px;
    cursor: pointer;
    color: #fff;
    background: #2e8972;
    padding: 5px 10px;
    border-radius: 4px;text-align: center;
    span{
      width: 80px;
      display: inline-block;
    }
    ul{
      display: none;
      li{
        margin-top: 5px;
        &:hover{
          color:red;
        }
      }
    }
    &:hover{
      ul{
        display: block;
      }
    }
  }
}
// 加载动画
@keyframes k-loadingS {
	40% {
    transform:translateX(0);
    opacity:.8;
  }
  100% {
    transform:translateX(300px);
    opacity:0;
  }
}
.k-line2 {
	display:inline-block;
	background:#666;
	height:10px;
	width:10px;
	opacity:0;
	border-radius:50%;
	transform:translateX(-300px);
	background-color:#4b9cdb
}
.k-line12-1 {
	animation:k-loadingS 4s infinite;
	animation-delay:.8s
}
.k-line12-2 {
	animation:k-loadingS 4s infinite;
	animation-delay:.7s
}
.k-line12-3 {
	animation:k-loadingS 4s infinite;
	animation-delay:.6s
}
.k-line12-4 {
	animation:k-loadingS 4s infinite;
	animation-delay:.5s
}
.k-line12-5 {
	animation:k-loadingS 4s infinite;
	animation-delay:.4s
}
.k-line12-6 {
	animation:k-loadingS 4s infinite;
	animation-delay:.3s
}
.k-line12-7 {
	animation:k-loadingS 4s infinite;
	animation-delay:.2s
}
.k-line12-8 {
	animation:k-loadingS 4s infinite;
	animation-delay:.1s
}
#loading{
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 999999;
  >div{
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
  }
}